<div class="col-md-4" *ngFor="let game of games">
<div class="card h-100 text-center">
  <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
    {{game.title}}
    <button class="btn btn-danger" (click)="deleteGame(game.id)">
      DELETE
    </button>
  </div>
  <img src="{{game.image}}" class="card-img-top">
  <div class="card-body">
    <p>
      {{game.description}}
    </p>
    <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">
      EDIT 
    </a>
  </div>
</div>

</div>